
<div class="container">

  <h1>Espace Etudiant </h1>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#Home" data-toggle="tab">Emploi du temps </a></li>
    <li><a href="#Product" data-toggle="tab">Video Cours</a></li>

    <li><a href="#Contact" data-toggle="tab">Note</a></li>
  </ul>


  <div class="tab-content">
    <div id="Home" class="tab-pane fade in active">
      <app-emploi-du-temps> </app-emploi-du-temps>
    </div>
    <div id="Product" class="tab-pane fade">
      <app-video-cours></app-video-cours>
    </div>
    <div id="Contact" class="tab-pane fade">
        <app-student-card></app-student-card>
    </div>


</div>
</div>



