<div class="slider">
	<input type="radio" name="slide_switch" id="id1" checked="checked">
	<label for="id1"><img src="https://d.img.vision/img.vision/jrink.jpg"></label>
	<img src="https://d.img.vision/img.vision/jrink.jpg">
	<input type="radio" name="slide_switch" id="id2">
	<label for="id2"><img src="https://d.img.vision/img.vision/nutella.jpg"></label>
	<img src="https://d.img.vision/img.vision/nutella.jpg">
	<input type="radio" name="slide_switch" id="id3">
	<label for="id3"><img src="https://d.img.vision/img.vision/fluff.jpg"></label>
	<img src="https://d.img.vision/img.vision/fluff.jpg">
	<input type="radio" name="slide_switch" id="id4">
	<label for="id4"><img src="https://d.img.vision/img.vision/nc-inc.jpg"></label>
	<img src="https://d.img.vision/img.vision/nc-inc.jpg">
	<input type="radio" name="slide_switch" id="id5">
	<label for="id5"><img src="https://d.img.vision/img.vision/headphones.jpg"></label>
	<img src="https://d.img.vision/img.vision/headphones.jpg">
	<input type="radio" name="slide_switch" id="id6">
	<label for="id6"><img src="https://d.img.vision/img.vision/red-shoe.jpg"></label>
	<img src="https://d.img.vision/img.vision/red-shoe.jpg">
</div>

